.box1 {
    width:100vw;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-style: italic;
    background-color: #cc9900;
}

.box2 {
    width:100vw;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 25px;
}

.box3 {
    background-image: url("static/images/horse.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width:100vw;
}

.nav-link {
    color: white!important;
}

.nav-link:hover {
    color: darkgray!important;
}



.logo-image {
    height:50px;
    width: 175px;
    border-radius: 10px;
}

.filter {
    height:530px;
    width: 100vw;
    background-color: gray;
}

.filter-heading {
    text-align: center;
    color:#cc9900;
}

.filter-text{
    color: orange;
}

.reset-button {
    color: #00802b;
    text-decoration: none!important;
}

.nav-item {
    text-align: center;
}

.graph-heading-jockey {
    text-decoration: underline;
    margin-bottom: 20px;
    color: #00802b;
}

.graph-heading-trainer {
    text-decoration: underline;
    margin-bottom: 20px;
    color: #00802b
}

.container-margin {
    margin-top: 10px;
}
.color2 {
    color: #cc9900;
    font-weight: 600;
    font-style: oblique;
}

.color1 {
    color:#00802b;
    font-weight: 600;
}
